<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922590350887-ieoumgi8q6f6bev6ka59rq7vahjm1k9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922590350887-ieoumgi8q6f6bev6ka59rq7vahjm1k9l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>922590350887-1thvno8rkq1jgpdmq0cgnflfgrmoe8vk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAV6a4WJV2n3wtnY4gtMfeqsd03xgw59qY</string>
	<key>GCM_SENDER_ID</key>
	<string>922590350887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeeShopStaff</string>
	<key>PROJECT_ID</key>
	<string>coffee-shop-app-437c7</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-shop-app-437c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922590350887:ios:b738e02eb5070f40fac802</string>
</dict>
</plist>